[package]
name = "mdbook-rustdoc-links"
publish = true
version = "1.1.2"

edition.workspace = true
rust-version.workspace = true

authors.workspace = true
license.workspace = true
repository.workspace = true

categories = ["text-processing", "development-tools", "command-line-utilities"]
description = "Link to Rust API docs by name in mdBook"
documentation = "https://tonywu6.github.io/mdbookkit/rustdoc-links"
keywords = ["mdbook", "markdown", "documentation", "rust-analyzer", "rustdoc"]
readme = "README.md"

[dependencies]
anyhow = { workspace = true }
async-lsp = { version = "0.2.2" }
cargo_toml = { version = "0.22.3" }
clap = { workspace = true }
dirs = { version = "6.0.0" }
futures-util = { workspace = true }
lsp-types = { version = "0.95.0" } # https://github.com/gluon-lang/lsp-types/issues/284
mdbook-markdown = { workspace = true }
mdbook-preprocessor = { workspace = true }
mdbookkit = { workspace = true }
miette = { workspace = true }
proc-macro2 = { version = "1.0.103", features = ["span-locations"] }
serde = { workspace = true, features = ["rc"] }
serde_json = { workspace = true }
sha2 = { version = "0.10.9" }
shlex = { workspace = true }
syn = { version = "2.0.111" }
tap = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true, features = [
  "fs",
  "io-util",
  "macros",
  "process",
  "rt-multi-thread",
  "time",
] }
tokio-util = { version = "0.7.17", features = ["compat"] }
tower = { version = "0.5.2" }
tracing = { workspace = true }

[dev-dependencies]
assert_cmd = { workspace = true }
insta = { workspace = true }
mdbookkit = { workspace = true, features = ["_testing"] }
predicates = { workspace = true }
rstest = { workspace = true }
similar = { workspace = true }
tempfile = { workspace = true }

[features]
_testing = ["mdbookkit/_testing"]
