[workspace.package]
publish = false

authors = ["Tony Wu <tonywu6@protonmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/tonywu6/mdbookkit"

edition = "2024"
rust-version = "1.85.0"

[profile.dev.package]
insta.opt-level = 3
similar.opt-level = 3

[workspace]
default-members = ["crates/*"]
members = ["crates/*", "utils/*", "docs"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.95"
assert_cmd = "2.0.16"
cargo-run-bin = { version = "1.7.4", default-features = false }
clap = { version = "4.5.31", features = ["derive"] }
insta = { version = "1.40.0", features = ["yaml", "filters"] }
mdbook-markdown = { version = "0.5.1" }
mdbook-preprocessor = { version = "0.5.1" }
mdbookkit = { path = "crates/mdbookkit" }
miette = { version = "7.5.0", features = [
  "fancy-no-backtrace",
], default-features = false }
minijinja = "2.9.0"
predicates = "3.1.3"
pulldown-cmark-to-cmark = "21.1.0"
rstest = "0.26.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.139"
shlex = "1.3.0"
similar = { version = "2.7.0" }
tap = "1.0.1"
tempfile = "3.18.0"
thiserror = "2.0.12"
tokio = { version = "1", default-features = false }
toml = "0.5"
tracing = "0.1.44"
url = "2.5.4"

[workspace.metadata.bin]
mdbook = { version = "0.5.1" }
