@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --mono-font:
    "Source Code Pro", "Consolas", "Ubuntu Mono", "Menlo", "DejaVu Sans Mono",
    ui-monospace, monospace;

  font-size: 16px;
}

html {
  font-family:
    "Noto Sans",
    "Open Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Helvetica Neue",
    ui-sans-serif,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
}

body {
  font-size: 1rem;
}

.menu-title {
  font-size: 1.5rem;
}

.content {
  word-wrap: break-word;

  pre > code {
    padding: 0.6rem;
    line-height: 1.5;
  }

  :not(pre) code {
    font-size: 0.9em;
  }

  p {
    margin-block: 0 1rem;
    line-height: 1.6;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 0.1ex;
    text-underline-offset: 0.6ex;

    strong,
    em,
    code {
      color: inherit;
    }

    &:hover,
    &:active {
      text-decoration: none;

      > .hljs {
        text-decoration: none;
      }
    }

    &:has(img) {
      display: inline-block;
      text-decoration: none;
    }

    &:has(del:only-child) {
      text-decoration: none;
    }
  }

  sup {
    a {
      text-decoration: none;
    }
  }

  h2,
  h3 {
    margin-block-start: 3.5rem;
  }

  h4,
  h5 {
    margin-block-start: 2.5rem;
  }

  h2,
  h3,
  h4,
  h5 {
    code {
      color: var(--inline-code-color);
    }
  }

  ul,
  ol {
    padding-inline-start: 1.8rem;
    line-height: 1.6;
  }

  li {
    > p {
      margin-block-end: 0.5rem;

      + ul,
      + ol {
        margin-block-end: 1rem;
      }
    }
  }

  table {
    margin: 0;

    th {
      padding: 3px 20px;
      font-weight: 700;
      background-color: var(--table-header-bg);
    }

    th,
    td {
      > p:last-child {
        margin-block-end: 0;
      }
    }

    tr > td:first-of-type {
      white-space: nowrap;

      @media screen and (width <= 420px) {
        white-space: normal;
      }
    }
  }

  .table-wrapper {
    margin-block-end: 1rem;
  }

  details {
    margin-block: 2rem;

    &[open] > summary {
      margin-block-end: 1rem;
    }
  }

  blockquote {
    padding: 0 0 0 1rem;
    background-color: unset;
    border-block-start: none;
    border-block-end: none;

    &:not(.blockquote-tag) {
      border-inline-start: 4px solid var(--quote-border);
    }

    > :last-child {
      margin-block-end: 0;
    }

    > * {
      opacity: 0.9;
    }

    > blockquote {
      opacity: 1;
    }
  }

  .footnote-definition {
    > p {
      line-height: 1.6;
    }

    > li:target::before {
      inset: 0 0 0 -24px;
      outline: 0.5rem solid #ffb45420;
      background-color: #ffb45420;
      border: none;
      border-radius: 0;
    }
  }

  :not(h1, h2, h3, h4, h5, h6, .footnote-definition > li):target {
    outline: 0.5rem solid #ffb45420;
    background-color: #ffb45420;

    &.footnote-reference {
      outline: 0.25rem solid #ffb45440;
      background-color: #ffb45440;
      border-radius: 0;
    }
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 2rem 0;
    background-color: #3d444d;
    border: 0;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }

  figure {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    min-width: 0;
    min-height: 0;
    margin: 1.8rem;

    @media screen and (width <= 768px) {
      margin: 0;
    }

    > img {
      max-height: 100%;
    }

    > * {
      margin-block: 0;
    }

    > figcaption {
      font-size: 0.8em;
      font-weight: 600;

      > p:last-child {
        margin-block-end: 0;
      }
    }

    &:has(> figcaption:last-child) {
      margin-block-end: 1.2rem;
    }
  }

  .blockquote-tag {
    .blockquote-tag-title {
      margin-block-end: 0.5rem;

      svg {
        position: relative;
        top: 1px;
      }
    }

    > :nth-child(2):not(:last-child) {
      margin-block-start: 1rem;
    }
  }
}

.code-header {
  margin: 1.5rem 0;

  > h3,
  > h4 {
    margin: 1rem 0;
    font-family: var(--mono-font);
    font-weight: normal;
    line-height: 1.6;
  }

  > :not(h3, h4) {
    margin-inline-start: 4ch;

    + h3,
    + h4 {
      margin-block-start: 2rem;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.badges {
  overflow: auto hidden;

  > p {
    display: flex;
    gap: 6px;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
  }
}

figure.fig-text {
  display: block;
  padding: 0.6rem;
  margin: 0 0 1rem;

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }

  @media screen and (width <= 620px) {
    overflow-x: auto;

    > * {
      width: max-content;
    }

    p,
    li {
      white-space: pre;
    }
  }

  .hljs {
    padding: 0;
    background-color: unset;
  }
}

/* à la Google's developer docs */
@media screen and (width <= 420px) {
  :root {
    /* 15px */
    --page-padding: 0;
    --blockquote-padding-block: 0.8rem;
    --blockquote-padding-inline: 20px;
  }

  .content {
    /* 5px */
    padding: 0;
  }

  .content main {
    > * {
      padding-inline: var(--blockquote-padding-inline);
    }

    > .badges {
      padding-inline: 0;

      > p {
        width: max-content;
        margin-inline: var(--blockquote-padding-inline);
      }
    }

    > ul,
    > ol {
      padding-inline-start: 40px;
    }

    > p:has(> img) {
      padding-inline: 0;
    }

    > figure {
      padding-inline: 0;
      margin-block-end: 1rem;

      > :not(pre, img, picture, video, :has(img, picture, video)) {
        padding-inline: var(--blockquote-padding-inline);
      }
    }

    > pre {
      padding-inline: 0;
      margin-block-end: 1rem;
    }

    pre > code {
      padding: var(--blockquote-padding-block) var(--blockquote-padding-inline);
    }

    > blockquote {
      padding-inline-start: calc(var(--blockquote-padding-inline) - 0.25rem);
    }

    .footnote-definition > li:target::before {
      top: 0;
      bottom: 0;
      left: -40px;
      width: 100vw;
    }
  }

  .nav-wrapper {
    padding: 0 var(--blockquote-padding-inline) 32px;
  }

  figure.fig-text {
    padding-block: var(--blockquote-padding-block);
    padding-inline: 0;

    > p {
      padding-inline: var(--blockquote-padding-inline);
    }
  }
}

html.light {
  .fig-text {
    background-color: #f6f7f680;
  }
}

html.rust {
  .fig-text {
    background-color: #f6f7f680;
  }
}

html.coal {
  .fig-text {
    background-color: #1d1f2180;
  }
}

html.navy {
  .fig-text {
    background-color: #1d1f2180;
  }
}

html.ayu {
  .fig-text {
    background-color: #191f2680;
  }
}

.sidebar li:has(a[href*="_internal/"]),
a[href*="_internal/"] {
  display: none;
}
