[book]
authors = ["Tony Wu"]
language = "en"
src = "src"
title = "mdbookkit"

[build]
build-dir = "dist"
create-missing = false
extra-watch-dirs = ["app", "../crates"]

[output.html]
additional-css = ["app/dist.css"]
additional-js = ["app/dist.js"]
default-theme = "ayu"
git-repository-icon = "fab-github"
git-repository-url = "https://github.com/tonywu6/mdbookkit"
hash-files = true
preferred-dark-theme = "ayu"
site-url = "/"

[output.html.playground]
runnable = false

# [preprocessor.rustdoc-link-options]
# before = ["rustdoc-link"]
# command = "cargo run --package util-clap-reflect -- --reflect rustdoc-link-options"

# [preprocessor.link-forever-options]
# before = ["rustdoc-link"]
# command = "cargo run --package util-clap-reflect -- --reflect link-forever-options"

[preprocessor.rustdoc-links]
after = ["links"]
# cache-dir = "build"
command = "cargo run --package mdbook-rustdoc-links"
manifest-dir = "."
rust-analyzer = "cargo run --package util-rust-analyzer -- analyzer"

[preprocessor.permalinks]
after = ["rustdoc-links"]
always-link = [".rs"]
book-url = "https://tonywu6.github.io/mdbookkit/"
command = "cargo run --package mdbook-permalinks"

# [preprocessor.rust-analyzer-version]
# after = ["rustdoc-link"]
# command = "cargo run --package util-rust-analyzer --all-features -- version"

# [preprocessor.alerts]
# after = ["rustdoc-link"]
# command = "cargo bin mdbook-alerts"

[preprocessor.app]
command = "deno run --allow-all app/build/preprocessor.ts"

# [_metadata.socials."/"]
# image = "src/media/social.webp"
# title = "mdbookkit"

# [_metadata.socials."/rustdoc-link"]
# image = "src/rustdoc-link/media/social.webp"
# title = "mdbook-rustdoc-link"

# [_metadata.socials."/link-forever"]
# image = "src/link-forever/media/social.webp"
# title = "mdbook-link-forever"
