[book]
authors = ["Tony Wu"]
language = "en"
src = "src"
title = "mdbookkit"

[build]
build-dir = "dist"
create-missing = false
extra-watch-dirs = ["app", "bin", "../crates", "Cargo.toml", "../README.md"]

[output.html]
additional-css = ["app/dist.css"]
additional-js = ["app/dist.js"]
default-theme = "ayu"
git-repository-icon = "fab-github"
git-repository-url = "https://github.com/tonywu6/mdbookkit"
hash-files = true
preferred-dark-theme = "ayu"
site-url = "/"

[output.html.playground]
runnable = false

[preprocessor.rustdoc-links]
after = ["links"]
cache-dir = "build"
command = "cargo run --package mdbook-rustdoc-links"
manifest-dir = "."
rust-analyzer = "cargo run --package util-rust-analyzer -- analyzer"

[preprocessor.permalinks]
after = ["rustdoc-links"]
always-link = [".rs"]
book-url = "https://tonywu6.github.io/mdbookkit/"
command = "cargo run --package mdbook-permalinks"

[preprocessor.app]
command = "deno run --allow-all app/build/preprocessor.ts"

[preprocessor.doc]
after = ["links"]
command = "cargo run -- preprocess"

[preprocessor.doc.socials."/"]
image = "src/media/social.webp"
title = "mdbookkit"

[preprocessor.doc.socials."/rustdoc-links/"]
image = "src/rustdoc-links/media/social.webp"
title = "mdbook-rustdoc-links"

[preprocessor.doc.socials."/permalinks/"]
image = "src/permalinks/media/social.webp"
title = "mdbook-permalinks"
