name: CI

on:
  push:
    branches:
      - main
    paths:
      - "**/Cargo.*"
      - "**.rs"
      - ".github/workflows/ci.yml"

  pull_request:
    branches:
      - main

  schedule:
    - cron: "32 21 * * 0" # nightly test for RA

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  MDBOOK_LOG: debug
  RUST_BACKTRACE: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  test:
    name: Test (${{ matrix.platform }})

    if: github.event_name != 'pull_request' || !startsWith(github.head_ref, 'release-plz-')
    # don't run on release-plz branches because they are updated only after
    # CI is already successful on main

    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - windows-latest

        windows:
          - ${{github.event_name == 'workflow_dispatch'}}
          # run on windows only on request

        exclude:
          - platform: windows-latest
            windows: false

      fail-fast: false

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rust-src # speeds up rust-analyzer indexing
        id: rustup

      - uses: cargo-bins/cargo-binstall@v1.16.6

      - uses: tonywu6/cache-hit-please@v1.1.0
        id: cache
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          deps: |
            ${{runner.os}}
            ${{runner.arch}}
            ${{steps.rustup.outputs.cachekey}}
            ${{hashFiles('**/Cargo.toml')}}
            ${{hashFiles('**/Cargo.lock')}}
            ${{github.workflow}}
            ${{github.run_id}}
          path: |
            .bin/
            target/

      - name: Prepare binaries
        run: |
          cargo bin --install
          cargo run --package util-rust-analyzer -- download

      - name: Build tests
        run: cargo test --no-run

      - name: Test
        run: cargo test --no-fail-fast -- --include-ignored

    outputs:
      cache-primary-key: ${{steps.cache.outputs.primary-key}}
      cache-restore-key: ${{steps.cache.outputs.restore-key}}
      cache-path: ${{steps.cache.outputs.path}}

  test_rustdoc_link_ra:
    name: (rustdoc-link) Test RA

    needs:
      - test

    strategy:
      matrix:
        ra-version:
          - "2025-12-01"
          - "nightly"
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - uses: actions/cache/restore@v4
        with:
          path: ${{needs.test.outputs.cache-path}}
          key: ${{ needs.test.outputs.cache-primary-key }}
          restore-keys: ${{ needs.test.outputs.cache-restore-key }}

      - run: cargo run --package util-rust-analyzer -- download
        env:
          RA_VERSION: ${{ matrix.ra-version }}

      - name: Test
        run: cargo test --package mdbook-rustdoc-links --no-fail-fast -- --include-ignored
