name: Publish docs

on:
  release:
    types:
      - published

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  MDBOOK_LOG: debug

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: dtolnay/rust-toolchain@stable
      - uses: cargo-bins/cargo-binstall@b9bf4400702f721d469eec4d280125f650c85638
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Get Cargo version
        run: echo "cargo-version=$(cargo --version)" >> "$GITHUB_OUTPUT"
        shell: bash
        id: cargo-version

      - uses: tonywu6/cache-hit-please@v1.1.0
        id: cache
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          deps: |
            ${{runner.os}}
            ${{runner.arch}}
            ${{steps.cargo-version.outputs.cargo-version}}
            ${{hashFiles('**/Cargo.toml')}}
            ${{hashFiles('**/Cargo.lock')}}
            ${{github.workflow}}
            ${{github.run_id}}
          path: |
            .bin/
            target/

      - run: cargo bin --install
      - run: cargo run --package util-rust-analyzer -- download

      - run: cargo bin mdbook build
        working-directory: docs

      - run: cargo run -- postprocess
        working-directory: docs

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/dist
